{% extends 'bookshelf/main.html' %}
{% load static %}


{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <header>
        <h1>Welcome to your personal bookshelf, {{user}}</h1>
    </header>
    <div class="container">
        <div class="gallery">
        {% if user_books %}
            {% for user_book in user_books %}
                <div class="movie">
                    <img src="https://via.placeholder.com/200x300" alt="Movie 1">
                    <div class="overlay">
                        <div class="overlay-content">
                            <a href="{% url 'author' user_book.book.author.id %}">
                                <h3>{{user_book.book.author}}</h3>
                            </a>
                        </div>
                    </div>
                    <a href="{% url 'book' user_book.book.id %}">
                        <h3>{{user_book.book.title}}</h3>
                    </a>
                </div>
            {% endfor %}
        {% else %}
            <p>No books added to bookshelf yet.</p>
        {% endif %}
        </div>
    </div>
</body>


{% endblock %}